/* PARALLAX CODE BEGINS  */

body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    /* background-image: url("../images/starbackground1.jpg"); */
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* if you want to remove effect, you can switch fixed to scroll*/
}

.pimg1 {
    background-image: url("../images/space1.jpg");
    /* background-repeat: no-repeat; */
    min-height: 100%;
}

.pimg2 {
    background-image: url("../images/space2.jpg");
    min-height: 400px;
}

.pimg3 {
    background-image: url("../images/space3.jpg");
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;

}

.ptext .border.trans{
    background-color: transparent;
}

@media screen and (max-width: 568px) {
    .pimg1 .pimg2 .pimg3{
        background-attachment: scroll;
    }
}

/* PARALLAX CODE ENDS  */


/* general styles */
html, body {
    height: 100%;
    width: 100%;
  }
  /* padded section */
  .pad-section {
    padding: 50px 0;
  }
  .pad-section img {
    width: 100%;
  }
  /* vertical-centered text */
  .text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  /* additional sections */
  #home {
    background: url(../images/home.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#teamdiv {
    position: relative;
    left: 60px;
}

  #services.container {
    width: 100%;
}

#serviceTitle {
    text-align: center;
    color: #eee;
}

  #services {
    /* background-image: url("../images/starbackground1.jpg"); */
    background-color: #272952;
    color: #306d9f;

    color: #7cabc7;
    width: 100%;
  }
  

  #topSectionMarket.row {
      width: 100%;
  }

  .marketTrendPlot {
      width: 100%;
  }

  #topSectionServ.row {
      width: 100%;
      padding: 0px 30px;
  }

  #serviceSection.container {
      width: 100%;

    /* color: #7cabc7; */
  }

  /* #userInputDash.container{
    width: 100%;

  }

  #userInputDash {
    background-color: #dbd6d6;
  } */

  .teaminfobox {
      height: 250px;
      width: 250px;
      background-color: #12336f;
      color: rgb(247, 240, 240); 
      font-family: "Lato", sans-serif;
      font-size: 23px;
      text-align: center;
      position: relative;
      bottom: 20px;
     

  }

  #about.container {
    
    width: 100%;
    /* background-image: url("../images/starbackground1.jpg"); */
    background-color: #d2e4ec;
}

#aboutcontent {
    position: relative;
    left: 116px;
    top: 18px;
}

div.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 18rem;
}

h2.contentTitle {
    text-align: center;
}



  #productTitle {
      color: #FFFFFF;
      padding: 15px;
  }

  #services .glyphicon {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
  }


  /* #userInputDash {
      background-color:#dbd6d6;

      width: 100%;
      padding: 0px 30px;
  }
/*expands to the edge of browser*/
  #userInputDash.container {
      width: 100%;
  }

  #inputDash.row {
      background-color: #dbd6d6;
  }

  #asteroidGray.row {
      width: 100%;
  }

  #asteroidListDiv {
      padding: 0px 30px;
  }


  } */

  #information {
    background: url(../images/estate.jpg) no-repeat center center fixed;
    display: table;
    height: 800px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #information .panel {
    opacity: 0.85;
  }
  #google_map {
    height: 500px;
  }
  footer {
    padding: 20px 0;
  }
  footer .glyphicon {
    color: #333333;
    font-size: 60px;
  }
  footer .glyphicon:hover {
    color: #306d9f;
  }

  /* Asteroid form -section two - services/products */

  #asteroidForm {
      /* width: 50%; */
      /* margin: auto; */
      /* margin-left: 20px; */
      /* box-sizing: border-box; */

  }

  /* MEET THE TEAM CODE BEGINS */

  .hover-bio-wrapper {
    position: relative;
    color: rgba(0,0,0,0);
    width: 100%
}
 
figure.hover-bio img{
    display: block;
}
 
figure.hover-bio {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: inline-block;
    line-height: 0;
     
}
 
figure.hover-bio::before, figure.hover-bio::after{
    position: absolute;
    background: black;
            opacity: 0.3;
            content: '';
    height: 100%;
            width: 100%;
    display: block;
    top: 0;
    left 0;
    -moz-transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
 
figure.hover-bio figcaption{
    position: absolute;
    background: #fff;
            display: block;
    line-height: 1.7em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    padding: 10px;
    z-index: 100;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    top: 50%;
    left: 0;
    -moz-transform: translate3d(-100%, -50%, 0);
    -webkit-transform: translate3d(-100%, -50%, 0);
    transform: translate3d(-100%, -50%, 0);
    opacity: 0;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
 
figure.hover-bio img{
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
 
figure.hover-bio figcaption{
    top: 100%;
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
 
figure.hover-bio:hover img {
            opacity: .5;
}
 
figure.hover-bio:hover figcaption{
    /* background-color: #E91E63; */
    background-color: #022057;
    color: #fff;
            opacity: .9;
    -moz-transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
            box-shadow: 0px -2px 28px rgba(255,255,255, 0.3);
}

/* MEET THE TEAM CODE ENDS */

/* CONTACT FORM BEGINS */

*{
    box-sizing: border-box;
}

.container{
    /* max-width: 1170px; */
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.company-info ul {
    list-style: none; 
    padding: 0;
}

#brand {
    text-align: center;
}

#brand span {
    color: #306d9f;
}

.wrapper{
    box-shadow: 0 0 20px 0 rgba(72, 94, 116,0.7);
}

.wrapper > * {
    padding: 1em;
}

.company-info {
    background: #c9e6ff;
}

.company-info h3, .company-info ul{
    text-align: center;
    margin 0 0 1rem 0;
}

.contactForm {
    background: #f9feff;
}


/* CONTACT FORM STYLES */

.contactForm form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contactForm form label{
    display: block;
}

.contactForm form p {
    margin: 0;
}

.contactForm form .full {
    grid-column: 1 / 3;
}

.contactForm form button, .contactForm form input, .contactForm form textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #c9e6ff;
}

.contactForm form button {
    background: #c9e6ff;
    border: 0; 
    text-transform: uppercase;
}

.contactForm form button:hover, .contactForm form button:focus{
    background: #92bde7;
    color: #fff;
    outline: 0;
    transition: background-color 2s ease-out;
}

.asterisk {
    color: #ff0000;
}

/* LARGE SCREENS */

@media(min-width: 700px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    
    /* ALL ELEMENTS INSIDE WRAPPER */
    .wrapper > *{
        padding: 2em;
    }

    .company-info h3, .company-info ul, .brand{
        text-align: left;
    }
}

/* SLIDER STYLE */

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background-image: url("../images/rocket.png");
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 23px;
    height: 25px;
    border: 0;
    background-image: url("../images/rocket.png");
    cursor: pointer;
}

/* CONTACT FORM CODE ENDS */