.container {
   max-width: 960px;
   margin: 0 auto;
   background: #f9f9f9;
   font-size: 24px;
   padding: 25px;
}

/* .parallax {
    background: url("../images/houston1.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
} */

.parallax {
    min-height: 500px;
    background: transparent;
}

.parallax2 {
    min-height: 500px;
    background: transparent;
}

.energy {
    text-align: center;
    font-size: 100px;
    color: #ff0000;
}

.title {
    color: green;
}

body, html {
    height: 100%;
}

/* .parallax {
    /* The image used */
    /* background-image: url("./assets/images/houston1.jpg");

    /* Full height */
    /* height: 100%;  */

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
/* } */ 